* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Bitter', arial,sans-serif;
	/* font-family: arial,sans-serif; */
}
h1 {
	padding: 10px 0;
}
/* ホバーの列にハイライト追加 */
.cross-highlight {
  overflow: hidden;
}
.cross-highlight th,
.cross-highlight td {
	position: relative;
}
.cross-highlight td:hover {
  background-color: #ccc;
}
.cross-highlight td:hover:after {
	content: "";
	background-color: #f0f0f0;
	width: 100%;
	height: 200vh;
	position: absolute;
	top: -100vh;
	left: 0;
	z-index: -1;
}
/* 検索エリア */
#search-area {
	display: flex;
	align-items: center;
}
/* ドロップダウンリスト */
.dropdown {
	overflow: hidden;
	width: 20em;
	margin: 2em 0.5em;
	/* text-align: center; */
	position: relative;
	border: 1px solid #bbb;
	border-radius: 2px;
	background: #fff;
}
.dorpdown::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	pointer-events: none;
}

.dropdown select {
	width: 100%;
	padding: 8px 38px 8px 8px;
	color: #666;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	appearance: none;
}

.dropdown select::-ms-expand {
	display: none;
}

#search-word-area {
	width: 30em;
}
#search-word-area input {
	width: 40%;
	padding: 6px 38px 6px 6px;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	/* border: none; */
	outline: none;
}
tbody .hidden {
	display: none;
}