* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Bitter', arial,sans-serif;
	/* font-family: arial,sans-serif; */
}
caption {
	font-size: 2em;
	font-weight: 400;
	padding: 15px 0;
}
table{
	width: 90%;
	border-collapse: collapse;
	margin: 0 auto;
}
table td, table th {
	min-width: 80px;
	padding: 7px 0;
	background: #fff;
	border: solid 1px #d0dbe6;
	/* vertical-align: middle; */
	font-size: 0.8em;
	color: #333;
	text-align: center;
}
td {
	z-index: 0;
}
th.h-ramen {
	width: 30%;
	min-width: 200px;
	border: solid 1px #f3fcff;
	padding: 7px 0;
	vertical-align: middle;
	color: #333;
	font-weight: 600;
	background: #f3fcff;
	font-size: 0.8em;
	text-align: center;
	/* 横スクロール時にラーメン名を固定表示 */
	position: sticky;
	left: 0;
	z-index: 2;
}
/* 縦スクロール時にヘッダー固定 */
thead th {
	position: sticky;
	top: 0;
	z-index: 1; /* tbodyより手前に表示 */
}
table tr.item:hover td,
table tr.item:hover th {
	background-color: rgba(166, 187, 187, 0.349); 
}
/* table td:hover {
  background-color: rgba(125, 134, 134, 0.342);    
}  */
/**
	---------------------------------------------------------------
*/
	@media screen and (max-width:480px){
		/*
		td, th, th.h_ramen {
			display: block;
		}
		th.h_ramen {
			width: 100%;
		}
		*/

	}

